<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/argon-design-system.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <style>
        .list-item {
            display: inline-block;
            margin-right: 10px;
        }

        .list-enter-active, .list-leave-active {
            transition: all 1s;
        }

        .list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */
        {
            opacity: 0;
            transform: translateY(30px);
        }

        * {
            transition: ease 1s;
        }

        input:active, input:focus {
            outline: none !important;
            box-shadow: none !important;
            border: solid #cad1d7 !important;
        }

        #trash:hover {
            cursor: pointer;
        }
    </style>
</head>
<body class="bg-secondary">

<div id="create">
    <div class="container shadow-lg p-0 bg-white rounded mb-3">
        <div class="d-flex justify-content-around p-3 bg-secondary border border-secondary rounded-3">
            <input type="text" class="form-control" style="width: 10%" placeholder="Поиск" v-model="search">
            <div class="dropdown">
                <button class="btn btn-icon dropdown-toggle pl-2 pr-2" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item text-darker"
                           @click="filter = 'date'" :class="{ 'bg-gradient-gray': filter === 'date' }">Дата</a>
                    </li>
                    <li><a class="dropdown-item text-darker"
                           @click="filter = 'title'" :class="{ 'bg-gradient-gray': filter === 'title' }">Название</a>
                    </li>
                    <li><a class="dropdown-item text-darker"
                           @click="filter = 'priority'"
                           :class="{ 'bg-gradient-gray': filter === 'priority' }">Приоритет</a></li>

                </ul>
            </div>
            <input type="text" class="form-control w-50" placeholder="Блокнот" v-model="name">
            <input type="color" class="form-control form-control-color" value="#3D7D96" v-model="colorBlock">

            <button type="submit" class="btn btn-primary btn-sm" @click="addNotebook()">Добавить</button>

        </div>

    </div>
    <div class="container">
        <transition-group name="list" tag="div" class="row justify-content-sm-between">
            <div v-for="(i, item) in filteredNotes" class="col-md-5 m-4 p-0"
                 :style="border(i)" v-if="i" :key="item">

                <div class="bg-white">
                    <div class="d-flex justify-content-between">
                        <input type="text" placeholder="Введите название" @change="updateNoteName(i, i.title)"
                               v-model="i.title" class="form-control form-control-plaintext">
                        <div class="d-flex justify-content-between">
                            <input type="color" class="form-control form-control-color mr-2" :value="i.color"
                                   @change="changeColor($event, i)">
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle pl-2 pr-2" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="bi bi-star-half"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="p-1">
                                        <input type="range" class="form-range" min="0" max="5" step="1"
                                               :value="i.priority" @change="priorityUpdate($event, i)">
                                    </li>
                                </ul>
                            </div>
                            <img src="img/trash.svg" width="32" alt="" class="ml-2 mr-2" v-on:click="removeNote(i)"
                                 id="trash">
                        </div>
                    </div>
                    <div class="d-flex" v-for="(lists, j) in i.list">

                        <div class="d-inline-block border">
                            <input type="checkbox" id="check" class="m-2 form-check"
                                   v-model="lists.completed" @change="updateCompleted(item, j, lists.completed)">
                        </div>
                        <div class="w-100 border d-flex">
                            <input type="text" placeholder="Введите название дела" v-model="lists.li"
                                   class="form-control form-control-plaintext border-0"
                                   :style="{ textDecoration: lists.completed ? 'line-through' : 'none' }"
                                   :disabled="lists.completed" @change="updateLiText(item, j, lists.li)">
                            <button class="btn btn-icon" @click="removeTask(lists, item)" :disabled="lists.completed">
                                <i class="bi bi-trash"></i></button>

                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="d-inline-block border">
                            <input type="checkbox" class="form-check m-2" disabled>
                        </div>
                        <div class="w-100 form-check-label">
                            <form class="d-flex border border-secondary" @submit.prevent="addTask(i, item)">
                                <input type="text" placeholder="Введите название дела..."
                                       class="form-control form-control-plaintext"
                                       v-model="form[item].title">
                            </form>
                        </div>
                    </div>
                    <div class="">
                        <p class="ml-3 text-muted" aria-placeholder="dawdw">{{ i.date }}</p>
                    </div>
                </div>


            </div>
        </transition-group>
    </div>
</div>


<script src="js/vue.js"></script>
<script src="js/main4.js"></script>
<script src="js/argon-design-system.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</body>
</html>
